.header {
  position: fixed;
  top: 0;
  left: 0;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  z-index: 2000;
  width: 100%;
}

.headerClasses {
  background-color: var(--bg-main);
  color: var(--text-main);
  box-shadow: var(--shadow-subtle);
}

.logoText {
  font-size: 32px;
  text-decoration: none;
  font-weight: bold;
}

.logoText,
.menuIcon {
  color: var(--color-white-smoke);
  cursor: pointer;
  transition: ease 160ms;
}

.menuIcon {
  font-size: 30px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 4000;
  position: relative;
}

.headerClasses .logoText,
.headerClasses .menuIcon {
  color: var(--text-main);
}

.logoText:hover,
.menuIcon:hover {
  color: var(--details);
}

.headerClasses .logoText:hover,
.headerClasses .menuIcon:hover {
  color: var(--details);
  font-size: 32px;
}

.btnActive {
  color: var(--color-white-smoke) !important;
}

.btnActive:hover {
  color: var(--details) !important;
  font-size: 33px;
}

.navigationMenuList {
  position: fixed;
  background-color: var(--bg-dark-transparent);
  width: 100%;
  height: 100vh;
  left: 100%;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3000;
  transition: 0.3s;
}

.active {
  left: 0;
}

.navigationMenuList ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  gap: 20px;
}

.navigationMenuList ul li a {
  color: var(--text-light);
  text-decoration: none;
}

.navigationMenuList ul li a:hover {
  color: var(--details);
}

@media (min-width: 768px) {
  .menuIcon {
    display: none;
  }

  .navigationMenuList {
    position: static;
    left: auto;
    width: auto;
    height: auto;
    display: flex;
    background: none;
    transition: none;
  }

  .navigationMenuList ul {
    flex-direction: row;
    font-size: 20px;
    gap: 2rem;
  }

  .navigationMenuList ul li a {
    color: var(--color-white-smoke);
    font-weight: bold;
    letter-spacing: 0.5px;
    transition: color 0.3s ease;
  }

  .headerClasses .navigationMenuList ul li a {
    color: var(--text-main);
  }

  /* Hover para ambos estados */
  .navigationMenuList ul li a:hover {
    color: var(--details);
  }

}